body {
    background-color: #F0E68C;
    margin-top: 50px;
    font-family: 'Serif';
}

.item {
    background-color: #D3D3D3;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
    color: black;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: #FFA500;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
    background-color: #FFC0CB; 
    color: white; 
}
